<%- include("header")-%>
    <%- include("nav-bar")-%>
        <!-- about main header -->
        <div class="contentbox w3-container">
            <h1 class="w3-center about-header" style="font-weight: bold;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, </h1>
            <P class="about-paragraph w3-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, placeat amet. Obcaecati, distinctio expedita perspiciatis alias tenetur qui saepe provident animi repellat sint asperiores eos iure recusandae illum facere vero.</P>
        </div>

        <!-- About content -->
        <div class="about-content contentbox ">
            <div class="content-1">
                <!-- about content header  -->
                <div class="about-person-header">
                    <h1>Lorem, ipsum dolor sit amet </h1>
                    <span class="underline"></span>
                </div>

                <!-- about content Paragraph -->
                <div class="about-person-paragraph">
                    <p><img src="../public//images/_DSC9358.jpg" alt="Seid img">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eum, nisi obcaecati totam temporibus labore voluptatibus id eos iusto ipsum saepe aspernatur neque nesciunt?
                        Sunt illum aliquid tempore commodi dolores. Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit repellendus corporis eum aliquid itaque asperiores earum pariatur omnis quas iusto facere repellat sapiente similique
                        provident soluta fugiat, reprehenderit dolor neque? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius debitis voluptatem a molestias eum? Provident dolorum accusantium, perferendis labore fugiat quos ipsam esse laboriosam
                        obcaecati dolore omnis sed, vero voluptas! lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam deserunt debitis hic ipsum assumenda possimus aspernatur! Aperiam commodi delectus, reiciendis modi voluptates
                        beatae obcaecati laborum veniam iste aspernatur neque laboriosam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa distinctio placeat velit tempora, sequi sint temporibus voluptates. Quod quisquam quis id quibusdam
                        officiis ullam ipsum voluptatum dicta, pariatur laborum Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, qui? Amet ratione laborum aliquam consequuntur iste. Dolore animi illum est. Placeat enim nihil cupiditate
                        deleniti laborum sequi illo quod doloremque? loremLorem ipsum, dolor sit amet consectetur adipisicing elit. Id recusandae modi iure quos expedita eaque doloribus quo optio impedit, dolores culpa aperiam soluta, perferendis totam
                        ullam magnam tempore. Dolorem, veritatis.
                    </p>
                </div>
            </div>
            <div class="content-2">
                <!-- about content header  -->
                <div class="about-person-header">
                    <h1>Lorem, ipsum dolor sit amet </h1>
                    <span class="underline"></span>
                </div>

                <!-- about content Paragraph -->
                <div class="about-person-paragraph">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eum, nisi obcaecati totam temporibus labore voluptatibus id eos iusto ipsum saepe aspernatur neque nesciunt? Sunt illum aliquid tempore commodi dolores. Lorem ipsum
                        dolor sit amet consectetur adipisicing elit. Impedit repellendus corporis eum aliquid itaque asperiores earum pariatur omnis quas iusto facere repellat sapiente similique provident soluta fugiat, reprehenderit dolor neque? Lorem
                        ipsum dolor sit amet consectetur, adipisicing elit. Eius debitis voluptatem a molestias eum? Provident dolorum accusantium, perferendis labore fugiat quos ipsam esse laboriosam obcaecati dolore omnis sed, vero voluptas! lorem Lorem
                        ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam deserunt debitis hic ipsum assumenda possimus aspernatur! Aperiam commodi delectus, reiciendis modi voluptates beatae obcaecati laborum veniam iste aspernatur neque
                        laboriosam. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa distinctio placeat velit tempora, sequi sint temporibus voluptates. Quod quisquam quis id quibusdam officiis ullam ipsum voluptatum dicta, pariatur laborum
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, qui? Amet ratione laborum aliquam consequuntur iste. Dolore animi illum est. Placeat enim nihil cupiditate deleniti laborum sequi illo quod doloremque? loremLorem
                        ipsum, dolor sit amet consectetur adipisicing elit. Id recusandae modi iure quos expedita eaque doloribus quo optio impedit, dolores culpa aperiam soluta, perferendis totam ullam magnam tempore. Dolorem, veritatis.
                    </p>
                </div>
            </div>
        </div>
        <%- include("contact-form")-%>
            <%- include("foot-nav")-%>
                <%- include("footer")-%>