<%- include("header")-%>
    <%- include("nav-bar")-%>
        <div class="w3-panel w3-center">
            <h1 style="font-size:7vh; font-weight: bold;">Contact Me</h1>
            <p class="w3-xxlarge">
                You can reach out to me by filling the form or using the email below.
            </p>
        </div>
        <%- include("contact-form")-%>
            <%- include("foot-nav")-%>
                <%- include("footer")-%>