<%- include("header")-%>
    <%- include("nav-bar")-%>
        <div class="w3-center w3-margin w3-padding-16 w3-container contact-header-text">
            <h1 class="header">Contact Me</h1>
            <p class="paragraph">
                You can reach out to me by filling the form or using the email below.
            </p>
        </div>
        <%- include("contact-form")-%>
            <%- include("foot-nav")-%>
                <%- include("footer")-%>