<%- include("header") -%>
    <%- include("nav-bar") -%>
        <div class="landing-page ">
            <img src="../public/images/solid-color-image.jpeg" alt="">
            <div class="sedih-image">
                <img src="../public/images/_DSC9358-removebg-preview.png" alt="">
            </div>
            <div class="hero-text">
                <h1 class="hero-name">Hi, I am
                    <bold>
                        Seidk Bendaoud</bold>
                </h1>
                <span class="underline"></span>
                <p class="hero-des">
                    Multidisciplinary <br>graphic artist
                </p>
            </div>
            <div class="buttons">
                <a class="hire-me" href="http://">Hire me</a>
                <a class="protofolio " href="http://">Protofolio</a>
            </div>
        </div>

        <!-- Main page content -->
        <div class="contentbox">
            <div>
                <h2 class="header">
                    <b><%= header1 %></b>
                </h2>
                <span class="underline"></span><br>
            </div>
            <div class="content" id="content">
                <p id="contentparagraph">

                </p>
            </div>


            <script>
                let data = "<%= paragraph1 %>";
                let newdata = data.split(" ")

                const topDom = document.getElementById('content');
                const childOfDom = document.getElementById('contentparagraph');



                for (var i = 0; i < newdata.length; i++) {

                    if (newdata[i] === "x") {
                        var tag = document.createElement("p");
                        var text = document.createTextNode(newdata[i].join(" "));
                        tag.appendChild(text);
                        var element = topDom;
                        element.appendChild(tag);


                    } else {
                        childOfDom.innerText = newdata[i].join(" ");
                    }
                }
            </script>

        </div>
        <div class="contentbox">
            <div>
                <h2 class="header">
                    <b><%= header2 %></b>
                </h2>
                <span class="underline"></span><br>
            </div>
            <div class="content">
                <p>
                    <%= paragraph2 %>
                </p>


            </div>




        </div>
        <%- include("contact-form") -%>
            <%- include("foot-nav.ejs") -%>
                <%- include("footer") -%>