<%- include("header") -%>
    <%- include("nav-bar") -%>
        <div class="landing-page ">
            <img src="../public/images/solid-color-image.jpeg" alt="">
            <div class="sedih-image">
                <img src="../public/images/_DSC9358-removebg-preview.png" alt="">
            </div>
            <div class="hero-text">
                <h1 class="hero-name">Hi, I am
                    <bold>John Doe</bold>
                </h1>
                <span class="underline"></span>
                <p class="hero-des">
                    Multidisciplinary <br>graphic artist
                </p>
            </div>
            <div class="buttons">
                <a class="hire-me" href="http://">Hire me</a>
                <a class="protofolio " href="http://">Protofolio</a>
            </div>
        </div>

        <!-- Main page content -->
        <div class="contentbox">
            <div>
                <h1 class="header">
                    <b>Lorem ipsum dolor sit amet  nemo debitis aliquid. Delectus!</b>
                </h1>
                <span class="underline"></span><br>
            </div>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam eius non obcaecati omnis, natus illum hic eum culpa ea. Qui, maxime labore? Magni, illo dolorem adipisci omnis provident obcaecati est.
                </p><br>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est possimus doloremque exercitationem dolorem corrupti autem adipisci fuga iusto aliquid dolorum, et aperiam quo dolor vitae deserunt molestiae ex provident blanditiis!
                </p><br>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos voluptatem nostrum vero est, possimus nesciunt numquam sint qui non expedita incidunt officiis illum dolore at impedit consectetur, magnam dolorum fuga!
                </p><br>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga excepturi optio itaque quos voluptates dignissimos magni sapiente corrupti amet accusantium ea laboriosam doloremque, eius explicabo necessitatibus cupiditate, eum, quidem voluptas.
                </p>

            </div>




        </div>
        <div class="contentbox">
            <div>
                <h1 class="header">
                    <b>Lorem ipsum dolor sit amet  nemo debitis aliquid. Delectus!</b>
                </h1>
                <span class="underline"></span><br>
            </div>
            <div class="content">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam eius non obcaecati omnis, natus illum hic eum culpa ea. Qui, maxime labore? Magni, illo dolorem adipisci omnis provident obcaecati est.
                </p><br>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est possimus doloremque exercitationem dolorem corrupti autem adipisci fuga iusto aliquid dolorum, et aperiam quo dolor vitae deserunt molestiae ex provident blanditiis!
                </p><br>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quos voluptatem nostrum vero est, possimus nesciunt numquam sint qui non expedita incidunt officiis illum dolore at impedit consectetur, magnam dolorum fuga!
                </p><br>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga excepturi optio itaque quos voluptates dignissimos magni sapiente corrupti amet accusantium ea laboriosam doloremque, eius explicabo necessitatibus cupiditate, eum, quidem voluptas.
                </p>

            </div>




        </div>
        <%- include("contact-form") -%>
            <%- include("foot-nav.ejs") -%>
                <%- include("footer") -%>