<%- include("header")-%>
    <%- include("nav-bar")-%>
        <!-- FAQ -->
        <div class="faq w3-container ">
            <h1 class="w3-center w3-margin-top w3-xxxlarge " style="font-weight: bold;">Frequently Asked Questions</h1>

            <div class="w3-container details w3-card-4">
                <details class="w3-xlarge">
                    <summary style="font-weight: bold;">0.1 Epcot Center</summary>
                    <p class="w3-padding-large">Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
                </details>
                <details class="w3-xlarge">
                    <summary style="font-weight: bold;">0.1 Epcot Center</summary>
                    <p class="w3-padding-large">Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
                </details>
                <details class="w3-xlarge">
                    <summary style="font-weight: bold;">0.1 Epcot Center</summary>
                    <p class="w3-padding-large">Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
                </details>
                <details class="w3-xlarge">
                    <summary style="font-weight: bold;">0.1 Epcot Center</summary>
                    <p class="w3-padding-large">Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
                </details>
                <details class="w3-xlarge">
                    <summary style="font-weight: bold;">0.1 Epcot Center</summary>
                    <p class="w3-padding-large">Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
                </details>
                <details class="w3-xlarge">
                    <summary style="font-weight: bold;">0.1 Epcot Center</summary>
                    <p class="w3-padding-large">Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
                </details>
                <details class="w3-xlarge">
                    <summary style="font-weight: bold;">0.1 Epcot Center</summary>
                    <p class="w3-padding-large">Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
                </details>
            </div>
        </div>
        <%- include("contact-form")-%>
            <%- include("foot-nav")-%>
                <%- include("footer")-%>